*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

.upper-part{
    height:100vh;
    width: 100%;
    background-image: url('./assets/darius_bg.jpg');
    background-size: 100%;
    background-position: 30% 5%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.character-description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}


/* CHARACTERS CARD */
#jinx-box, #heimmer-box,
#kata-box, #lulu-box{
    height: 400px;
    width: 200px;
    border: 3px solid #DEC87A;
    border-radius: 7px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.champ-box-front {
    border-radius: 7px;
    height: 400px;
    width: 200px;
}

.champ-box-front img{
  height: 400px;
  width: 200px;
  border-radius: 10px;
}

#jinx-box.flipped,
#heimmer-box.flipped,
#kata-box.flipped,
#lulu-box.flipped {
    transform: rotateY(180deg);
    background-color: #000;
  }
  
  .champ-box-front,
  .champ-box-back {
    backface-visibility: hidden;
  }
  
  .champ-box-back {
    transform: rotateY(180deg);
  } 