@import url(https://fonts.bunny.net/css?family=poppins:100,200,300,400,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

.upper-part {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/darius_bg.jpg");
  background-size: 100%;
  background-position: 30% 5%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.character-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* CHARACTERS CARD */
#jinx-box,
#heimmer-box,
#kata-box,
#lulu-box {
  height: 400px;
  width: 200px;
  border: 3px solid #dec87a;
  border-radius: 7px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 1.5s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

#jinx-box {
  background-image: url("./assets/card/jinx.jpg");
}

#heimmer-box {
  background-image: url("./assets/card/heimmer.jpg");
}

#kata-box {
  background-image: url("./assets/card/katarina.jpg");
}

#lulu-box {
  background-image: url("./assets/card/lulu.jpg");
}

#jinx-box:hover,
#heimmer-box:hover,
#kata-box:hover,
#lulu-box:hover {
  transition: all 0.2s ease;
  border: 4px solid #fff9e3;
}

.champ-box-back {
  margin-top: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-size: 12px;
}

.champ-box-back h1 {
  font-size: 18px;
}

#jinx-box.flipped,
#heimmer-box.flipped,
#kata-box.flipped,
#lulu-box.flipped {
  transform: rotateY(180deg);
  padding: 20px;
  transition: transform 1.5s;
}

.champ-box-front,
.champ-box-back {
  backface-visibility: hidden;
}

.champ-box-back {
  transform: rotateY(180deg);
}

.leagueCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.leagueBanner,
.leagueArc {
  width: 400px;
  height: 500px;
  margin-top: 100px;
  border: 3px solid #dec87a;
  border-radius: 7px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.leagueBanner img {
  height: 25%;
  width: 50%;
}

.leagueArc img {
  margin-top: 25px;
  height: 15%;
  width: 70%;
}

.Jinx {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-image: url(./assets/jinxBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Jinx h1 {
  margin-top: 100px;
  font-family: "Rock Salt", cursive;
  font-size: 50px;
  font-weight: bold;
  color: #ea146f;
}

.jinx-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}

.jinx-container img {
  height: 450px;
  width: 250px;
  border-radius: 7px;
  border: solid 3px #ea146f;
}

/*heim*/
.Heim {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-image: url(./assets/heimmerdingerBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Heim h1 {
  margin-top: 100px;
  font-family: "Rock Salt", cursive;
  font-size: 50px;
  font-weight: bold;
  color: #f79062;
}

.heim-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}

.heim-container img {
  height: 450px;
  width: 250px;
  border-radius: 7px;
  border: solid 3px #f79062;
}

/*Katarina*/
.Katarina {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-image: url(./assets/katarina-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Katarina h1 {
  margin-top: 100px;
  font-family: "Rock Salt", cursive;
  font-size: 50px;
  font-weight: bold;
  color: #ce0909;
}

.kata-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}

.kata-container img {
  height: 450px;
  width: 250px;
  border-radius: 7px;
  border: solid 3px #ce0909;
}

/*Lulu*/
.Lulu {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-image: url(./assets/lulu-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Lulu h1 {
  margin-top: 100px;
  font-family: "Rock Salt", cursive;
  font-size: 50px;
  font-weight: bold;
  color: #ffe600;
}

.lulu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}

.lulu-container img {
  height: 450px;
  width: 250px;
  border-radius: 7px;
  border: solid 3px #ffe600;
}
